<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Aurora</title>

        <link href="~/lib/materialize/dist/css/materialize.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />

       
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body>
        @RenderBody()
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/dist/js/materialize.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
